.hero{
	width: 100%;
}

.logo img{
	width: 100%;
	cursor: pointer;
}

.links ul{
	padding: 0%;
	padding-top: 0%;
}

.links ul li{
	 list-style-type: none;
   display: inline-block;
   padding-left: 2%;
   padding-right: 2%;
}

.links ul li a{
	color: black;
	text-decoration: none;
}

.links ul li a:hover{
	color: palevioletred;
	transition: .2s;
}
.btn{
	display: none;
}
.btn:hover{
	transform: scale(1.2);
}
.about{
	background-color: #212121;
} 

.about-headings h3{
	color: white;
}

.about-headings h2{
	color: white;
	font-size: 200%;
	text-align: center;
}

.about-headings h4{
	color: white;
	text-align: center;
}

.about-content{
	align-items: center;
	width: 100%;
}

.about-content p{
	color: floralwhite;
	text-align: center;
}

.bton{
		display: inline-block;
	    background-color: red;
	    color: white;
	    text-decoration: none;
	    font-weight: bold;
	    padding: 10px 25px;
	    transform: translateY(50%);
	    border-radius: 30px;
	    transition: transform .4s
	}

.about-content p a{
	color: white;
}

.about-content p a:hover{
	color: palevioletred;
	transition: .2s;
}

span{
	color: royalblue;
}

.about img{
	max-width: 100%;
}

.parish-headings h2{
	color: white;
	font-size: 180%;
	text-align: center;
}

.parish-preist{
	text-align: center;
}
.parish-preist img{
	max-width: 100%;
}

.parish-preist figcaption{
	color: white;
	font-weight: bold ;
}
.parish-preist p{
	display: none;
}
.mass-headings h2{
	font-size: 200%;
	text-align: center;
}

.mass-content table, th, td{
	border: 1px solid black;
	border-collapse: collapse;
} 

.empty {
	background-color: royalblue;
	border: 0px;
}

.confession-headings h2{
	font-size: 200%;
	text-align: center;
}
.confession-content table, th, td{
	border: 1px solid black;
	border-collapse: collapse;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.contact{
	background-color: #212121;
}

.contact-content h2{
	font-size: 200%;
	text-align: center;
	color: white;
}

.contact-content dt{
	color: palevioletred;
}

.contact-content dd a{
	color: white;
	text-decoration: none;
}

@media screen and (min-width: 800px) {
	.links ul li{
	    padding-left: 7%;
	    padding-right: 7%;
	}

	.about-content{
		display: flex;
		justify-content: space-around;
		font-size: 20px;
	}

	.about img{
		height: 50vh;
		padding: 5px;
	}

	.about-headings h3{
		font-size: 25px;
		padding-top: 50px;
	}

	.about-headings h2{
		font-size: 100px;
	}

	.about-headings h4{
		font-size: 20px;
	}

	.parish-headings h2{
		font-size: 75px;
	}

	.mass-content table, th, td{
		margin-left: auto;
		margin-right: auto;
	} 
	.mass-headings h2{
		font-size: 75px;
	}
	.confession-headings h2{
		font-size: 75px;
	}
	.contact-content h2{
		font-size: 75px;
	}
	.mass-content th{
		font-size: 30px;
		font-weight: bold;
	} 

	.confession-content th{
		font-size: 30px;
		font-weight: bold;
	}

	.links ul li{
		list-style-type: none;
	    display: inline-block;
	    padding-left: 1%;
	    padding-right: 1%;
	}
	.btn{
		float: right;
		display: inline-block;
	    background-color: royalblue;
	    color: white;
	    text-decoration: none;
	    font-weight: bold;
	    padding: 10px 25px;
	    border-radius: 30px;
	    transition: transform .4s
	}
}